:root{
    --animation-duration: 5s;
}

#hourglass-container, #sand-frame-1, #sand-frame-2, #sand-frame-3, #sand-frame-4, 
#sand-frame-5, #sand-frame-7, #sand-frame-8, #sand-frame-9, #sand-trace{
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
}

#hourglass-container{
    animation-name: flipHourglass;
    animation-timing-function: ease-in-out;
}
#sand-frame-1, #sand-frame-2, #sand-frame-3, #sand-frame-4,
#sand-frame-5, #sand-frame-7, #sand-frame-8, #sand-frame-9, #sand-trace{
    animation-timing-function: steps(1, start);
}
/* --------------------------------------------- */
@keyframes flipHourglass {

    10%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(180deg);
    }
    70%{
        transform: rotate(180deg);
    }
    80%{
        transform: rotate(180deg);
    }
    90%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* --------------------------------------------- */
#sand-frame-1{
    animation-name: sandFrame1;
}
@keyframes sandFrame1{
    10%{
       	visibility: visible;
    }
    20%{
        visibility: hidden;
    }
    30%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    70%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    90%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
/* --------------------------------------------- */
#sand-frame-2{
    animation-name: sandFrame2;
}
@keyframes sandFrame2{
    10%{
       	visibility: hidden;
    }
    20%{
        visibility: visible;
    }
    30%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    70%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    90%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
/* --------------------------------------------- */
#sand-frame-3{
    animation-name: sandFrame3;
}
@keyframes sandFrame3{
    10%{
       	visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    30%{
        visibility: visible;
    }
    40%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    70%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    90%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}/* --------------------------------------------- */
#sand-frame-4{
    animation-name: sandFrame4;
}
@keyframes sandFrame4{
    10%{
       	visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    30%{
        visibility: hidden;
    }
    40%{
        visibility: visible;
    }
    50%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    70%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    90%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}/* --------------------------------------------- */
#sand-frame-5{
    animation-name: sandFrame5;
}
@keyframes sandFrame5{
    10%{
       	visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    30%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    60%{
        visibility: visible;
    }
    70%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    90%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}/* --------------------------------------------- */
#sand-frame-7{
    animation-name: sandFrame7;
}
@keyframes sandFrame7{
    10%{
       	visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    30%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    70%{
        visibility: hidden;
    }
    80%{
        visibility: hidden;
    }
    90%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}/* --------------------------------------------- */
#sand-frame-8{
    animation-name: sandFrame8;
}
@keyframes sandFrame8{
    10%{
       	visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    30%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    70%{
        visibility: hidden;
    }
    80%{
        visibility: visible;
    }
    90%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}/* --------------------------------------------- */
#sand-frame-9{
    animation-name: sandFrame9;
}
@keyframes sandFrame9{
    10%{
       	visibility: hidden;
    }
    20%{
        visibility: hidden;
    }
    30%{
        visibility: hidden;
    }
    40%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    60%{
        visibility: hidden;
    }
    70%{
        visibility: visible;
    }
    80%{
        visibility: hidden;
    }
    90%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}/* --------------------------------------------- */
