@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Poppins:wght@300;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: darkslategray;
    /* padding: 25px; */
    /* border: 30px solid darkslategray; */
}
.select-form{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    background-color: yellow;
    /* position: relative; */
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-elements{
    display: flex;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: floralwhite;
    border-bottom: 30px solid darkslategray;
    border-left: 30px solid darkslategray;
    border-right: 30px solid darkslategray;
    /* border: 1px solid black; */
    /* overflow: hidden; */
}
.content{
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: darkslategray;
}
.container{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    /* margin: 25px 500px; */
    /* padding: 25px; */
    position: relative;
    /* overflow: hidden; */
}
#linie{
    border: 1px solid red;
    position: absolute;
    width: 100%;
    top: 550px;
    visibility: hidden;
}
.square{
    width: 60px;
    height: 60px;
    background-image: url('/left0.png');
    background-color: red;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    transition: left 0.1s linear, top 0.1s linear;

    z-index: 1;
}
.square-teleport{
    transition: none !important;
}

.square-gravity{
    /* transition: left 0.3s linear, top 1s cubic-bezier(.16,1.99,.57,1.99) !important; */
    /* transition: left 0.2s linear, top 0.2s linear !important; */
    background-color: transparent !important;
}
.obstacle{
    width: 60px;
    height: 60px;
    background-color: steelblue;
    transform: translate(-50%, -50%);
    position: absolute;
    /* top: 60px; */
    /* left: 60px; */
}
.wide{
    width: 300px;
}
.shadow{
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    position: absolute;
}
.shadow1{
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    position: absolute;
}
.shadow2{
    width: 60px;
    height: 60px;
    background-color: rgba(0, 255, 0, 0.1);
    transform: translate(-50%, -50%);
    position: absolute;
}
.shadow3{
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 255, 0.1);
    transform: translate(-50%, -50%);
    position: absolute;
}
.colected{
    /* visibility: hidden; */
    opacity: 0.6;
}
.red-flag{
    background-color: firebrick !important;
    opacity: 1;
}
.hidden{
    visibility: hidden;
}
.obstacle-falling{
    transition: 0.6s cubic-bezier(.8,.17,1,.66);
}
.buttons{
    display: flex;
    position: relative;
    width: 50%
}
.show{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.btn{
    background-color: floralwhite;
    color: tomato;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    margin: 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-inverted{
    background-color: tomato;
    color: floralwhite;
}
.btn:active{
    transform: scale(0.96);
}
.btn:hover{
    /* background-color: floralwhite; */
    color: darkslategray;
}
.btn.btn:focus{
    outline: none;
}
.message{
    /* width: 800px; */
    /* height: 500px; */
    /* max-width: 500px; */
    width: 100%;
    background-color: tomato;
    color: floralwhite;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px 30px;
    font-size: 20px;
    z-index: 10;
    position: absolute;
    top: 55px;
    left: 107px;
}
.display{
    width: 250px;
    background-color: floralwhite;
    color: tomato;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 0 20px;
    border: none;
    margin: 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
